@import "tailwindcss";

@theme {
  --color-rosewood: #984062; 
  --color-mulberry: #7E4A5F; 
  --color-aqua: #A8F9FF; 
  --color-buttercream: #FAF2A1; 
  --color-indigo: #5863F8; 
  --color-lavenderGray: #A09EBB; 
  --color-mist: #CECAFA; 
  --color-charcoalTeal: #12303B;
  --color-pine: #1B7B4E; 
}

